<app-navbar></app-navbar>
<div class="container">
    <h1>People List</h1>
    <button class="btn-primary">
        Add
    </button>
<br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let people of peoplelist ; let i=index">
                <td scope="row"></td>
                <td >{{people.firstname}}</td>
                <td>{{people.lastname}}</td>
                <td>{{people.phone}}</td>
         
                <td>
                    <button class="btn btn-primary" >Details</button> &nbsp;
                      <button class="btn btn-danger" (click)="delete(i)">Delete</button> &nbsp;
                    <button class="btn btn-warning">update</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div *ngIf="peoplelist.length==0"  class="alert alert-danger">
        No people Found
       </div>
</div>